* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  color: #666;
  background-color: bisque;
  line-height: 1.6;
  margin: 10px 0;
}
